<main>
  <h1>Login</h1>
  <form id="loginForm">
    <div>
      <label for="userField">Username</label>
      <input
        type="text"
        placeholder="Username"
        id="userField"
      />
    </div>
    <div>
      <label for="passField">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="passField"
      />
    </div>
    <button type="submit">Log In</button>
  </form>

</main>